In [2]:
import numpy as np 
import pandas as pd

In [4]:
pop = pd.read_csv('census-historic-population-borough.csv')

What is the size of the data? 
1. how many rows?
2. how many columns?

In [5]:
#your code here

---

How many unique values are there in the "Area Name" column?

In [9]:
#your code here

---

What is the sum of the Persons-1861 column?

In [ ]:
#your code here

---

What is the ratio between the sum of the Persons-1921 and Persons-1991 columns?

In [ ]:
#your code here

---

what type of information would the result of the following lines of code provide us with?

In [ ]:
#1
pop[pop['Persons-1801']>11000]

your answer -->

---

In [17]:
#2 
pop.loc[20]

Area Code                       00AX
Area Name       Kingston upon Thames
Persons-1801                    5000
Persons-1811                    5000
Persons-1821                    6000
Persons-1831                    8000
Persons-1841                   10000
Persons-1851                   12000
Persons-1861                   18000
Persons-1871                   27000
Persons-1881                   36000
Persons-1891                   45000
Persons-1901                   56000
Persons-1911                   68000
Persons-1921                   74000
Persons-1931                   93000
Persons-1939                  129000
Persons-1951                  147000
Persons-1961                  146010
Persons-1971                  141000
Persons-1981                  132957
Persons-1991                  131436
Persons-2001                  147271
Persons-2011                  160060
Name: 20, dtype: object

your answer-->

---

In [16]:
#3 
pop.loc[20:25]

,Area Code,Area Name,Persons-1801,Persons-1811,Persons-1821,Persons-1831,Persons-1841,Persons-1851,Persons-1861,Persons-1871,...,Persons-1921,Persons-1931,Persons-1939,Persons-1951,Persons-1961,Persons-1971,Persons-1981,Persons-1991,Persons-2001,Persons-2011
20,00AX,Kingston upon Thames,5000,5000,6000,8000,10000,12000,18000,27000,...,74000,93000,129000,147000,146010,141000,132957,131436,147271,160060
21,00AY,Lambeth,33000,49000,67000,99000,129000,155000,182000,236000,...,419000,421000,391000,347000,341626,308000,246426,220252,266170,303086
22,00AZ,Lewisham,16000,20000,24000,26000,34000,44000,67000,101000,...,287000,327000,325000,303000,290582,268000,231324,215483,248917,275885
23,00BA,Merton,5000,6000,7000,7000,8000,8000,11000,17000,...,114000,158000,197000,200000,189013,177000,166100,162741,187919,199693
24,00BB,Newham,8000,10000,12000,14000,15000,22000,43000,70000,...,448000,440000,381000,294000,265388,237000,209494,200678,243884,307984
25,00BC,Redbridge,4000,5000,6000,7000,7000,7000,9000,12000,...,124000,179000,232000,257000,250080,240000,226280,221107,238623,278970

your answer -->

---

In [ ]:
#4 
pop[20:25]

your answer --->

---

In [ ]:
# 5 
pop.dtypes

your answer-->

----